streamlit              # Interactive data app framework  
langchain              # LangChain framework for building language model applications  
langchain_core         # Core utilities and abstractions for LangChain  
langchain_community    # Community-contributed integrations and tools for LangChain  

langchain_groq         # Groq integration for LangChain  
python-dotenv          # Load environment variables from .env files  

streamlit>=1.32.0
gnews>=0.3.7
openpyxl>=3.1.0
google-api-python-client>=2.100.0
oauth2client==3.0.0